.HeroPage {
  text-align: left;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

.HeroPage h1 {
  font-size: 7rem;
  line-height: 2;
  font-weight: 400;
  letter-spacing: -3px;
}
