.HeroPage {
  text-align: left;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 100vh;
}

.HeroPage h1 {
  font-size: 7rem;
  line-height: 2;
  font-weight: 400;
  letter-spacing: -5px;
}

.text-wrapper > p {
  font-size: 3rem;
  text-transform: lowercase;
  line-height: 0.5;
}

.accent {
  color: rgb(255, 213, 136);
}

.HeroPage > img {
  margin-bottom: -50px;
  width: 250px;
  opacity: 80%;
}

.HeroPage .btn {
  margin: 3.5rem 0;
}
