.Hero {
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 1em;
  height: 33vh;
}

.Hero h1 {
  font-size: 5rem;
  line-height: 2;
  font-weight: 400;
  letter-spacing: -5px;
}

.Hero p {
  font-size: 2rem;
  text-transform: lowercase;
  line-height: 0.5;
}

.accent {
  color: rgb(255, 213, 136);
}

.Hero > img {
  margin-bottom: -50px;
  width: 180px;
  opacity: 80%;
}
