.skills-wrapper {
  margin: 0 auto;
  width: 20rem;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.skill {
  height: 22px;
  line-height: 22px;
  border-radius: 8px;
  padding: 0 8px;
  margin: 5px 8px 5px 0;
  font-weight: 600;
  font-size: 14px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  background: #fce6e7;
  color: #cc0610;
}

.library-framework {
  background: #e5f5fd;
  color: #0454cc;
}

.database {
  background: #eeeafd;
  color: #401ddd;
}

.other {
  background: #e5fae3;
  color: #05741d;
}

.design {
  background: #fdf1fb;
  color: #b10870;
}

@media only screen and (max-width: 820px) {
  .skills-wrapper {
    width: 85vw;
  }
}

@media only screen and (max-width: 600px) {
  .skills-wrapper {
    width: 90vw;
  }
}
