.navbar-links {
  background-color: #ffffffe1;
  border-bottom: 1px solid rgba(245, 245, 245, 0.904);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 4;
}

.hamburger-ctr {
  display: none;
  cursor: pointer;
}

.hamburger-icon {
  font-size: 2rem;
  color: var(--bright-red);
  top: 20px;
  right: 30px;
  position: fixed;
  z-index: 5;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  font-size: 2rem;
  background-color: var(--transparent-white);
  height: 50vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  backdrop-filter: blur(5px);
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.mobile-link a {
  color: var(--bright-red);
  font-weight: 600;
  text-decoration: none;
}

.open {
  transform: translateY(0);
}

@media (max-width: 800px) {
  .navbar-links {
    display: none;
  }

  .hamburger-ctr {
    display: block;
  }
}
