.navbar-links {
  font-size: 1.1rem;
  background-color: #ffffffe1;
  border-bottom: 1px solid rgba(245, 245, 245, 0.904);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 4;
}

.hamburger-ctr {
  display: none;
  cursor: pointer;
}

.hamburger-icon {
  font-size: 2rem;
  color: var(--bright-main);
  top: 20px;
  right: 30px;
  position: fixed;
  z-index: 200;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
  padding: 4rem;
  gap: 0;
  font-size: 1.8rem;
  background-color: white;
  box-shadow: 0 0 5px #c0b4b4;
  letter-spacing: 1px;
  height: 100vh;
  width: 70vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateX(105%);
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
}

.mobile-link a {
  color: var(--deep-gray);
  font-weight: 400;
  text-decoration: none;
}

.mobile-link a:hover {
  color: black;
}

.open {
  transform: translateY(0%);
}

@media only screen and (max-width: 800px) {
  .navbar-links {
    display: none;
  }

  .hamburger-ctr {
    display: block;
  }
}
