form {
  width: 30rem;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid rgb(240, 240, 240);
}

form > .row,
form .col {
  gap: 2px;
  margin: 0;
  width: 100%;
}

form > .row {
  gap: 10px;
}

input,
textarea {
  width: 100%;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 6px;
  padding: 12px;
  resize: none;
  font: 15px "Mulish", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

input:focus,
textarea:focus {
  background: rgb(255, 205, 205);
}

label {
  margin-bottom: -6px;
  color: rgb(78, 78, 78);
}

input[type="submit"] {
  background-color: var(--bright-main);
  border: 1px solid var(--light-main);
  padding: 1.5rem;
  font: 18px "Mulish", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  color: white;
  transition: 400ms ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--dark-main);
  cursor: pointer;
}

.recaptcha {
  margin: 1rem;
}

@media only screen and (max-width: 500px) {
  form {
    width: 90vw;
  }
}

@media only screen and (max-width: 450px) {
  form {
    width: 100vw;
    height: 100%;
    border-radius: 0;
  }
}
