.Footer {
  gap: 0;
  padding: 1rem;
  font-size: 12px;
  text-transform: lowercase;
  background-color: #1b1a1a;
  border-top: 1px solid rgb(37, 37, 37);
  color: rgb(189, 189, 189);
}

.Footer > a {
  font-size: 18px;
  color: var(--light-red);
}

.Footer > a:hover {
  color: var(--bright-red);
}

.Footer .icons > a {
  color: var(--light-red);
}
