.Footer {
  height: 18rem;
  padding: 2rem 0 6rem 0;
  font-size: 1rem;
  text-transform: lowercase;
  background-color: #1b1a1a;
  border-top: 1px solid var(--deep-gray);
  color: #bdbdbd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.Footer > a {
  font-size: 15px;
  font-weight: 400;
  color: #bdbdbd;
}

.Footer > a:hover,
.Footer .icons > a:hover {
  color: white;
}

.Footer .icons > a,
.Footer a:hover {
  color: #bdbdbd;
}

.social {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.copyright {
  font-size: 12px;
  position: absolute;
  bottom: 25px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}
