@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap");
:root {
  --background-color: white;
  --light-main: #cc619c;
  --bright-main: #a73774;
  --dark-main: #af0562;
  --transparent-white: #ffffffe0;
  --accent-gray-line: #f1efee;
  --deep-gray: #333131;
  --medium-gray: #5f5d5d;
  --black: #000;
  --white: #fff;
  --footer: #1b1a1a;
  --box-shadow: 0 0 5px #c0b4b4;
}

.dark {
  --background-color: #181616;
  --light-main: #c5bbff;
  --bright-main: #927ffd;
  --dark-main: #5240b9;
  --transparent-white: #141414f1;
  --accent-gray-line: #222020;
  --deep-gray: #c7bebe;
  --medium-gray: #a8a5a5;
  --black: #e0dada;
  --white: white;
  --footer: #000;
  --box-shadow: 0 3px 8px #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  max-width: 100vw;
}

body {
  font: 16px "Mulish", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 2.2;
  background: var(--background-color);
  color: var(--black);
  position: relative;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: var(--bright-main);
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
}

a:hover {
  color: var(--black);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7em;
  margin: 0 auto;
}

h1 {
  color: var(--bright-main);
}

h2 {
  color: var(--deep-gray);
  text-transform: lowercase;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -3px;
  line-height: 1.7;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0rem 3rem;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.wrap {
  flex-wrap: wrap;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 8rem;
  background-color: var(--bright-main);
  border-radius: 5px;
  transition: 100ms ease-in-out;
  position: relative;
  top: 0px;
  border: none;
  color: white;
  font: 15px "Mulish", Helvetica, Arial, sans-serif;
}

.btn:hover {
  background-color: var(--dark-main);
  cursor: pointer;
  top: -2px;
  color: white;
}

.btn > a {
  color: white;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--light-main);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bright-main);
}

/* media queries */
@media only screen and (max-width: 850px) {
  .row {
    margin: 0;
  }

  .row-reverse,
  .col {
    gap: 1rem;
  }

  section {
    padding: 5rem 0 1rem 0;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}
