:root {
  --light-red: #fc6f76;
  --bright-red: #e43d45;
  --dark-red: #c21b24;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 15px sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

a {
  color: var(--bright-red);
  text-decoration: none;
}
