@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap");
:root {
  --bright-red: #df0647;
  --dark-red: #b40137;
  --transparent-red: #e43d4580;
  --transparent-white: #ffffffce;
  --overlay-red: #f8485738;
  --accent-gray-line: #f1efee;
  --deep-gray: #333131;
  --medium-gray: #5f5d5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  max-width: 100vw;
}

body {
  font: 16px "Mulish", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 2.2;
  background: var(--white);
  color: var(--black);
  position: relative;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: var(--bright-red);
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
}

a:hover {
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7em;
  margin: 0 auto;
}

h1 {
  color: var(--bright-red);
}

h2 {
  color: var(--deep-gray);
  text-transform: lowercase;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -3px;
  line-height: 1.7;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0rem 3rem;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.wrap {
  flex-wrap: wrap;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 8rem;
  background-color: var(--bright-red);
  border-radius: 5px;
  transition: 100ms ease-in-out;
  position: relative;
  top: 0px;
}

.btn:hover {
  background-color: var(--dark-red);
  cursor: pointer;
  color: white;
  top: -2px;
}

.btn > a {
  color: white;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bright-red);
}

/* media queries */
@media only screen and (max-width: 850px) {
  .row {
    margin: 0;
  }

  .row-reverse,
  .col {
    gap: 1rem;
  }

  section {
    padding: 5rem 0 1rem 0;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}
