.ContactPage > p {
  font-size: 0.8rem;
  line-height: 1.6;
  text-align: center;
}

.ContactPage .icons {
  margin-bottom: 5px;
}

.ContactPage .icons > a {
  font-size: 1.6rem;
  color: var(--bright-main);
}

.ContactPage .icons > a:hover {
  color: black;
}
